
/* GLOBAL */

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    color:#d6d6d6;
}

/* IDs */

#overlays {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
}

#title {
    padding: 10px;
}

#legal {
    position: absolute;
    right: 45%;
    bottom: 5px;
    size: 12px;
}

#banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#paypal{
    display: block;
    margin: auto;
    margin-bottom: -10px;
    margin-top: 5px;
}

#canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#connecting {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}
#skinurl{
    display:inline;
    margin-top:12px;
}
#nick {
    width: 79%;
    float: left;
    margin-top: 12px;
}

#gamemode {
    width: 33%;
    float: right;
}

#main-container{
    position: absolute;
    margin-left: -585px;
    margin-top: -150px;
    left: 50%;
    top: 38%;
    display: grid;
    grid-template-columns: 374px 400px 322px;
    grid-template-rows: 145px 145px  147px 147px;
    grid-gap: 13px;
}

#gamemodes-grid{
    display: grid;
    grid-template-columns: 1fr 1fr; /*Make the grid smaller than the container*/
    grid-auto-rows: 119px;
    grid-gap: 10px;
    padding: 15px;
    margin-top: 6px;
}

.gamemode-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* padding: 20px; */
    cursor: pointer;
    background-color: #2a2b30;
    color: darkgrey;
}
.teams:hover, .instant:hover, .mega:hover, .duel:hover, .gamemodes-mode:hover, .lts:hover, .teams_no_rules:hover, .lts-active, .ffa-active, .teams-active, .instant-active, .mega-active, .duel-active, .teams_no_rules-active {
    color: black;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .3s;
}

.lts:hover, .lts-active {
    background-color: rgb(8, 236, 0)
}

.teams_no_rules:hover, .teams_no_rules-active {
    background-color: #fde71e;
}


.ffa:hover, .ffa-active {
    background-color: #f53e57;
}

.teams:hover, .teams-active {
    background-color: #ffaa00;
}

.instant:hover, .instant-active {
    background-color: #00c1f1;
}

.mega:hover, .mega-active {
    background-color: rgb(90, 20, 255);
}

.duel:hover, .duel-active {
    background-color: rgb(241, 21, 138);
}
.gamemode-text {
    font-size: 14px;
    font-weight: 900;
}
#skin-circle {
    width: 61px;
    height: 61px;
    border: 2px solid;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 297px;
    margin-top: -7px;
    display: flex;
    justify-content: center;
    position: fixed;
    cursor: pointer;
}
#helloDialog {
    padding: 5px 15px 5px 15px;
    grid-row: 1/span 3;
    grid-column: 2/ span 1;
    z-index: 200;
}

#discord-container {
    grid-column: 3/ span 1;
    grid-row: 3 /span 1;
    z-index: 300;
}
#gamemodes-container {
    grid-column: 3/span 1;
    grid-row: 1 / span 2 ;
}

#announcement-container {
    grid-column: 1 /span 1;
    grid-row: 1 /span 2;
    padding-left: 25px;
    padding-top: 13px;
}

.containers {
    background-color: #36393f;
    border-radius: 15px;
    z-index: 200;
    display: block;
}

#chat_textbox {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    background: rgba(0, 0, 0, .2);
    border: 0px;
    outline: none;
    color: #FFF;
    height: 30px;
    text-indent: 12px;
    left: 10px;
    width: 300px;
}

#chat_textbox:focus {
    background: rgba(0, 0, 0, .5);
}

#footer {
    text-align: center;
    margin-bottom: 10px;
    margin-top: -10px;
}

#play-btn {
    width: 85%;
    float: left;
    margin-top: 2px;
}

#replayer-button {
    width: 85%;
    float: left;
}

#settings-btn {
    width: 14%;
    float: right;
}

#spectate-btn {
    margin-top: 3px;
    width: 14%;
    float: right;
}
#leaderboardcanvas{
    z-index: 2;
    position: absolute;
    top:10px;
    right:10px;
}

#friendbutton{
    color: #B5B9C0;
}


/* CLASSES */

.checkbox label {
    margin-right: 10px;
}
.canvasButtons{
    transition: color 200ms;
    position: absolute;
    top: 12px;
    right:194px;
    z-index: 500;
    opacity: .7;
    background: #373737;
    border-radius: 5px;
    padding: 5px;
    border: 0px solid transparent;
    display: none;

}
.mb-10 {
    margin-bottom: 10px;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

.center {
    display: table;
    margin: 0 auto;
}
#skin-text-cirlce{
    font-weight: 20;
}
.textlegal {
    color: #aac7e4;
}

.wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #9c9c9c

}

.replay-container {
    overflow: auto;
    padding: 15px;
    display: block;
}

.replays {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 702px;
    height: 100%;
}

.replay-item {
    position: relative;
    box-shadow: 2px 2px 5px 1px #000;
    border: 1px solid #000;
    overflow: hidden;
}

.replay-thumbnail {
    display: block;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    user-select: none;

}

.replay-container {
    position: sticky;
    height: 100%;
    z-index: 1;
    width: 100%;
    padding: 5px;
}

.replay-exit {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    width: 50px;
    font-size: 15px;
    padding-top: 3px;
    background: #ff0000;
    border-radius: 0px 0px 2px 2px;
    cursor: pointer;
    z-index: 1;
    border: 3px solid #111;
    border-top: 0px;
    padding-bottom: 1px;
}


#replay-modal {
    width: 750px;
    height: 500px;
    background-color: red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.generic-button {
    margin: 7px;


}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}